<header>
    <main class="home bg-danger">
        <header class="rounded">
            <section class="p-5 text-center text-light">
                <h2>BAZAR & ALIMENTACIÓN</h2>
                <h1 class="text-dark"><b><i>ZLL</i></b></h1>
            </section>
        </header>
    </main>
    <footer class="p-5 bg-dark text-dark">
        aaa
    </footer>
</header>